a{
    text-decoration: none;
    color: inherit;
}

.burger {
    width: 32px;
    height: 24px;
    cursor: pointer;
    padding: 18px 0;
    z-index: 20;
}

.burger span {
    width: 100%;
    height: 4px;
    background-color: black;
    border-radius: 12px;
    display: block;
    transition: background-color 0.5s ease-in-out;
}

.burger span::before,
.burger span::after {
    content: "";
    width: 100%;
    background-color: black;
    display: block;
    transition: all 0.5s ease-in-out;
    border-radius: 12px;
    height: 4px;
}

.burger span::before {
    transform: translateY(-10px);

}

.burger span::after {
    transform: translateY(10px);
    margin-top: -4px;
}


.burger.active span {
    background-color: transparent;
}

.burger.active span::before {
    transform: rotateZ(45deg) translateY(0);
}

.burger.active span::after {
    transform: rotateZ(-45deg) translateY(0);
}

header{
    position: fixed;
    background-color: #F2EDE7;
    padding: 10px;
    width: 100%;
    z-index: 9999;
}
.lista-nav{
    list-style-type: none;
    max-height: 0;
    overflow: hidden;
    transition: .6s ease-in-out;
}

.lista-nav
.lista-nav li a{
    color: black;
    text-decoration: none;
}

.nav-ativa{
    max-height: 300px;
}

.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

@media screen and (min-width: 768px) {
    .hamburguer-menu{
        display: none;
    }

    .container-menu{
        display: initial;
    }

    .lista-nav{
        max-height: fit-content;
        display: flex;
        flex-direction: row;
    }

    .lista-nav li{
        padding: 0 8px;
    }

    .lista-nav li a{
        background-color: transparent;
        border: none;
    }


    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

main{
    padding-top: 85px;
}

.section-banner div{
    overflow: hidden;
}

.banner-img img{
    position: absolute;
    filter: brightness(60%) blur(0);
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.banner-img{
    position: relative;
    height: calc(100vh - 85px);
    font-family: auto;
    transition: .3s ease-in-out;
    
}

.banner-img h1,
.banner-img h2{
    font-size: 4rem;
    color: white;
}

.banner-img:hover{
    transform: scale(1.2);
}

.banner-img:hover img{
    filter: brightness(60%) blur(2px);
}
